*{
    margin: 0;
    padding: 0;
}

body {
    background: #f6f9fc;
    /* background-image: linear-gradient(to left bottom, #f5f9fc, #eaedf0, #dee1e3, #d3d6d7, #c8cacb); */
    max-width: 100vw;
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.field::before{
    overflow: hidden;
    content: "";
    min-width: 900px;
    min-height: 500px;
    background-color: white;
    position: absolute;
    z-index: -10;
    left: 80px;
    top: 350px;
    opacity: 0.7;
}

.field::after{
    content: "";
    min-width: 700px;
    min-height: 400px;
    background-color: white;
    position: absolute;
    z-index: -10;
    left: 350px;
    top: 270px;
}

.blockTestLine{
    padding-bottom: 100px;
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
    left: 0;
    top: 100;
    position: absolute;
    z-index: -10;
    background: url("../res/img/backgrounds/line.png");
    /* background-color: #ebf1f9; */
}

.circlesBefore{
     position: absolute;
     min-width: 70px;
     max-width: 70px;
     min-height: 145px;
     max-height: 145px;
     left: 250px;
     top: 250px;
     background: url("../res/img/backgrounds/circle.png");
}

.circlesBefore::before{
    content: "";
    z-index: -10;
    right: -1400px;
    top: -50px;
    min-width: 400px;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
    background:white;
    position: absolute;
}

.figura1{
    position: absolute;
    min-width: 140px;
    max-width: 140px;
    min-height: 140px;
    max-height: 140px;
    right: -1610px;
    top: 250px;
    background: url("../res/img/backgrounds/figura1.png");
}

nav {
    background-color: cornflowerblue;
    height: 10vh;
}

nav ul {
    width: 50%;
    height: 100%;
    margin-left: 10px;
    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}


.landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing img {
    height: 50%;
}
.landing h1 {
    text-align: center;
}

.abc {
    width: 25%;
}

@media (max-width: 768px) {
    nav ul {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;    
        background-color: cornflowerblue;
        flex-direction: column;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease;
    }
    nav {
        position: relative;
    }
    .fade {
        opacity: 1;
        transition: opacity 0.5s ease;
        pointer-events: all;
    }

    .hamburger {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    .hamburger > div {
        width: 40px;
        height: 5px;
        margin: 7px;
        background-color: white;
    }
    .hamburger:hover {
        cursor: pointer;
    }
    .landing img {
        height: auto;
        width: 65%;
    }
    .landing {
        flex-direction: column;
    }
    .abc {
        width: 100%;
        padding: 50px;
    }
}


a {
    margin: 0;
    padding: 0;
}


.main-dialog{
    width: 100%;
    padding: 0;
    margin: 0;
}

.dialog {
    width: 100%;
    border: 1px solid green;
    background-color: lightgrey;
    display: inline-flex;
    padding: 0;

}
.field {
    background-image: linear-gradient(to top, #8f62c0, #b98beb, #be8ef0, #c292f6, #c795fc);
    width: 100vw;
    min-height: 100vh;
    box-shadow: rosybrown;
    /* border: 2px grey solid; */
    padding: 10px;
    overflow: hidden;
    margin-bottom: 100px;
    
}

.container{
    margin: 0 auto;
}

.itemsMainMenu{
    font-family: 'Montserrat', sans-serif;
    margin-left:auto;
}

.mainMenu{
    /* border: 1px solid grey; */
    border-radius: 15px;
    margin: 25px auto;
    padding: 10px 25px;
    background: white;
    -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.07);
-moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.07);
box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.07);
}

.menu {
    background-color: lightyellow;
    position: relative;
    width: 150px;
    height: 100%;
    border: 1px solid green;
    border-radius: 5px;   
    z-index: 2;
}

.mainMenuUl{
    margin: 0;
}

.mainMenuUl>a{
    text-decoration: none;
}

@font-face{
    font-family: 'akrobat';
    src: url("../fonts/Akrobatblack.ttf");
}


@font-face{
    font-family: "ibmmenium";
    src: url("../fonts/Ibmplexmonomedium.ttf");
}

.itemMainMenu{
    margin-right: 30px;
    font-weight: 900;
}

.itemMainMenu a{
    text-decoration: none;
    color: #999999;
    text-transform: uppercase;
}

.logoMainMenu img{
    max-width: 100px;
}

@import url('https://fonts.googleapis.com/css?family=Arimo');
.top-menu {
  max-width: 100vw; 
  position: relative;
  background: rgba(34,34,34,0.8);
}
.menu-main {
  list-style: none;
  margin: 0;
  padding: auto;
}
.menu-main:after {
  content: "";
  display: table;
  clear: both;
}
.left-item {float: left;}
.right-item {float: right;}
.navbar-logo {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.menu-main a {
  text-decoration: none;
  display: block;
  line-height: 80px;
  padding: 0 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: white;
  transition: .3s linear;
}
.menu-main a:hover {background: rgba(0,0,0,.3);}
@media (max-width: 830px) {
.menu-main {
  padding-top: 90px;
  text-align: center;
}
.navbar-logo {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}
.menu-main li {
  float: none;
  display: inline-block;
  line-height: 1.5;
}
.menu-main a {
  line-height: normal;
  padding: 20px 15px;
  font-size: 16px;
  line-height: 0.5;
}
}
@media (max-width: 630px) {
.menu-main li {display: block;}
}


.menu-main a{

    line-height: 1;
}

.inputOrder{
    min-width: 200px;
    min-height: 30px;
    background-color: white;
    border: 1px black solid;
}
.photo img{
    max-width: 200px;
}

.price{
    max-height: 50px;
    color: green;
}

.order{
    max-width:  1000px;
}

.photo {
    padding: 10px;
}

ul .pagination{
    margin: 0px;
    padding: 0;
}

.orderCategory{
    float: left;
    min-width: 200px;
    max-width: 250px;
    min-height: 200px;
    background-color: honeydew;
    border: 1px solid black;
    border-radius: 5px;
    list-style-type: none;
    margin: 10px;
    cursor: pointer;
}

.photoCategory {
    max-width: 200px;
    max-height: 200px;
}

.elfb{
    margin: 10px;
}

.eltextarea{
    min-height: 150px;
}

.errorCaptcha{
    color: red;
}

.feedbackPost{
    border: 1px solid black;
    background-color: lightblue;
    padding: 10px;
    padding-left: 50px;
    border-radius: 30px;
    margin-top: 20px;
}

.feedbackPost>.name{
    text-decoration: underline;
    color: lightslategray;
    font-size: 15px;
}
.feedbackPost>.date{
    
    font-size: 13px;
    margin-left: -20px;
}

.descriptionservices>.description{
    margin-bottom: 50px;
}

.m-data img{
    max-width: 225px;
    max-height: 200px;
}

.m-data{
    float: left;
}

.m-text{
    margin-left: 300px;
}

.iconpostcalendar{
    max-width: 30px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.fa-calendar{
    max-width: 30px;
    font-size: 25px;
}

.datapost{
    margin-top: 20px;
}

.itemNews{
    border:  0 0 1px 0px 1px solid black;
    padding-bottom: 20px;
    margin-top: 50px;
}

.photoPost img{
    max-width: 320px;
}

.textPartPost{
    background-color: #a26dda;
    min-width: 415px;
    max-width: 415px;
    min-height: 200px;
    padding-left: 30px;
    padding-top: 15px;
    padding-right: 35px;
    padding-bottom: 15px;
}

.postTitle{
    font-size: 26px;
    color: white;
    font-family: "ibmmenium";
    text-transform: uppercase;
    line-height: 23px;
    margin-bottom: 12px;
}

.postTitle a{
    font-size: 26px;
    color: white;
    font-family: "ibmmenium";
    text-transform: uppercase;
    line-height: 23px;
    margin-bottom: 12px;
}

.desriptionNewsPost{
    font-size: 15px;
    font-family: "ibmmenium";
    text-transform: uppercase;
    line-height: 15px;
    color: #dbd8de;
    margin-bottom: 36px;
    min-height: 45px;
}

.dataNewsPost{
    color: #dfdede;
    font-size: 15px;
    font-family: "ibmmenium";
    text-transform: uppercase;  
    margin-top: 20px;
    margin-right: 130px;

}

.newsPost{
    margin: 85px auto;
    max-width: 735px;
    transition: 0.5s;
}

.newsPost:hover{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
transition: 0.5s;
}

.buttonMore{
    text-transform: uppercase;
    font-family: "ibmmenium";
    color: white;
    padding: 14px;
    background-color: #e0c5fd;
    border-radius: 100px;
    width: 116px;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 44px;
    transition: 0.7s;
}

@font-face{
    font-family: "oswaldLight";
    src: url("../fonts/Oswald-Light.ttf");
}

.hrLineNewsPage{
    border-top-width: 1px;
    border-color: black;
    max-width: 500px;
}

.titlePageNews{
    font-family:"oswaldLight";
    font-size: 54px;
    color: white;
}

.buttonMore:hover{
    -webkit-box-shadow: 0px 1px 50px 0px rgba(252,250,153,1);
-moz-box-shadow: 0px 1px 50px 0px rgba(252,250,153,1);
box-shadow: 0px 1px 50px 0px rgba(252,250,153,1);
transition: 0.7s;
}

.bottomHR{
    margin-top: 50px;
}

.titleNewsPost{
    font-size: 30px;
    color: blue;
}


.calendarPost{
    margin-top: -20px;
}

.newspost{
    min-height: 700px;
    padding-top: 20px;
}

.downPart{
    padding: 50px;
}

.b-blog-return>.buttonBack>a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    transition: 1s;
}

.b-blog-return{
    max-height: 30px;
}

.b-blog-return>.buttonBack>a:hover{
    transition: 1s;
    color: white;
}

.fa-arrow-left{
    color: black;
    transition: 1s;
}

.fa-arrow-left:hover{
    color: white;
    transition: 1s;
}

.b-blog-return:hover{
    border: 1px solid white;
    transition: 1s;
}

.b-blog-return{
    transition: 1s;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid black;
    width: 120px;
    vertical-align: middle;
}

.postText{
    min-height: 350px;
}

.map{
    margin: 50px 0 50px 0;
}

.orderCart{
    border: 1px solid rgb(217, 217, 217);;
    min-height: 600px;
    border-image: initial;
    border-radius: 15px;
}

.buttonBuy{
    min-height: 50%;
    background-color: red;
}

.anotherInfo{
    min-height: 50%;
    background-color: chocolate;
}

.buttonBuy>.addToCart{
    max-height: 70px;
    margin: 0 auto;
}
.rightPartCartOrder{
text-align: center;

}

.leftPartCartOrder>.photoorder img{
    max-width: 250px;
    max-height: 250px;
}

.backInfoGood{
    margin-top: 100px;
    margin-bottom: -300px;
}




ul {
 list-style: none outside none;
      padding-left: 0;
 }
 .gallery li {
 display: block;
 float: left;
 height: 100px;
 margin-bottom: 6px;
 margin-right: 6px;
 width: 100px;
 }
 .gallery li a {
 height: 100px;
 width: 100px;
 }
 .gallery li a img {
 max-width: 100px;
 }
 
 .test {
    background: none repeat scroll 0 0 #fff;
    left: 500px;
    position: absolute;
    top: 100px;
}

#applicationOrder{
    min-width: 900px;
    min-height: 500px;
    background-color: cadetblue;
    position: absolute;
    top: 200px;
}

.fa-window-close{
    position: absolute;
    font-size: 30px;
    right: 50px;
    top:10px;
    z-index: 100;
}

    
.showApplicationOrder{
    display:block;
}

.buttonSendFeed{
    
    margin: auto 0;

}

.hidden{
    display: none;

}

.resultSearch{
    position: absolute;
    background-color: white;
    min-width: 178px;
    min-height: 32px;
    right: 16px;
    top: 35px;
    max-height: 100px;
    overflow-y: scroll;
}

.searchOrder{
    position: absolute;
    right: 30px;
    min-width: 1000px;
    z-index: 1000;
}


.dialogs{
    max-width: 100vw;
    min-height: 50px;
    background-color: cadetblue;
    overflow: hidden;
    transition: 1s;
    background-image: linear-gradient(to top right, rgb(67, 163, 94), rgb(69, 166, 90), rgb(71, 170, 86), rgb(73, 173, 81), rgb(75, 176, 77), rgb(77, 179, 73), rgb(78, 183, 69), rgb(80, 186, 65), rgb(82, 189, 61), rgb(84, 192, 56), rgb(86, 196, 52), rgb(88, 199, 48));
}

.dialogs_items{
    margin: 0;
    overflow: hidden;
}

.dialogs_item{
    display: inline-block;
    font-size: 40px;
}

.dialogs_item i {
    color: white;
    transition: 1s;
}

.dialogs_item>a{
    text-decoration: none;
}

.dialogs_item:hover{
    transition: 1s;
}

.vkicon i:hover{
    color:#4680C2;
    transition: 0.3s;
}

.okicon i:hover{
    color:#ed812b;
    transition: 0.3s;
}

.youicon i:hover{
    color:red;
    transition: 0.3s;
}

.twittericon i:hover{
    color:#00acee;
    transition: 0.3s;}

.vibericon i:hover{
    color:#7360f2;
    transition: 0.3s;}

.whaticon i:hover{
    color:#25D366;
    transition: 0.3s;}

.viberIcon{
    margin-bottom: -12px;
    background: url(../png/viber.png) 0px 0px no-repeat;
    background-size: 45px 45px;
    min-width: 50px;
    min-height: 50px;
    transition: 0.3s;
}

.viberIcon:hover{
    margin-bottom: -12px;
    transition: 0.3s;
    background: url(../png/viberPurple.png) 0px 0px no-repeat;
    background-size: 45px 45px;
    min-width: 50px;
    min-height: 50px;
}


.arrowBack{
    margin-left: -260px; 
    z-index: 1000;
    transition: 0.3s;
    cursor: pointer;
}

.arrowBack img:hover{
    transition: 0.3s;
    max-width: 30px;
    
}

.circle {
    top: 10px;
    right: 230px;
    transform: scale(1, -1);
    content: '\25CF';
    font-size:20px;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    background-color: white;
    position: absolute;
    z-index: 1001;
    transition: 1s;
    cursor: pointer;
}

.circle:hover{
    transition: 1s;
    height: 20px;
    width:  35px;
    -webkit-box-shadow: 0px 5px 28px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 5px 28px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 5px 28px 0px rgba(0,0,0,0.24);
    cursor: pointer;
}

